<div class="container">
        <h1>Pick your plan</h1>
        <br/>
        
       
            {% for com.microservices.apigateway.security.service in provider.services %}
      		<h2> {{ com.microservices.apigateway.security.service.name }} </h2>
      		<div class="row">
            {% for plan in com.microservices.apigateway.security.service.application_plans%}
      		
            <div class="col-md-4">
                <article class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ plan.name }}</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {% if plan.features == present %}
                            <div class="col-md-6">
                                <h5>Features</h5>
                                <ul class="features list-unstyled">
                                    {% for feature in plan.features %}
                                    <li>
                                        <i class="fa fa-check"></i> {{ feature.name }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            <div class="col-md-6">
                                <h5>Limits</h5>
                                <ul class="limits list-unstyled">
                                    {% if plan.usage_limits == present %} {% for limit in plan.usage_limits %}
                                    <li>
                                        <i class="fa fa-signal"></i> {{ limit.metric.name }} &ndash; {{ limit.value }} {{ limit.metric.unit }}s per {{ limit.period }}
                                    </li>
                                    {% endfor %} {% else %}
                                    <li>
                                        <i class="fa fa-signal"></i> No limits
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                              	
      
                   <a class="btn btn-cta-secondary pull-right" href="{{ urls.signup }}?{{ plan | to_param }}&{{ com.microservices.apigateway.security.service.service_plans.first | to_param }}">Signup to plan {{ plan.name }}</a>
                          		
                                                                                         
                          </div>
                        </div>
                    </div>
                </article>
            </div>
                    
          {% endfor %}
              </div>
          {% endfor %}
        
    </div>
